@charset "UTF-8";
/*lys grå: #F7F7F7*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
* {
  box-sizing: border-box;
}

#gridcontainer {
  display: grid;
  max-width: 1600px;
}

body {
  font-family: "Roboto", sans-serif;
  /*Farger*/
  /*Header*/
  /*Main*/
  /*footer*/
}
body .yellow {
  background-color: #e6bd43;
}
body .grey {
  background-color: #f3f0f1;
}
body .white {
  background-color: #fff;
}
body .transparent {
  opacity: 0.7;
}
body .thickoutline {
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  padding: 0.5rem 1rem;
}
body .yellowline {
  border-width: 2px;
  border-style: none none solid none;
  border-color: #e6bd43;
  font-weight: 600;
}
body .hovedlogo {
  display: flex;
}
body .hovedlogo img {
  max-width: 100px;
}
body header {
  display: flex;
  flex-wrap: wrap;
}
body header nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  text-align: center;
}
body header nav ul .yellow {
  padding: 0.7rem 1rem;
  font-weight: 600;
}
body .textoverimg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}
body .textoverimg article {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 100%;
}
body .textoverimg h1 {
  font-size: 3em;
}
body .textoverimg picture {
  min-width: 100%;
}
body .textoverimg img {
  min-height: 480px;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .textoverimg #textcontainer {
  position: absolute;
  padding: 10%;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}
body .textoverimg #textcontainer p {
  margin: 0;
}
body .textoverimg #abouttext {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  text-align: start;
  background: rgba(255, 255, 255, 0.6);
  padding: 2rem;
}
body .textoverimg #centertext {
  position: absolute;
}
body .textoverimg .yellow {
  padding: 1rem;
}
body #subheading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}
body #subheading article {
  max-width: 80%;
}
body #aboutsection {
  padding: 1rem;
}
body #aboutsection img {
  max-width: 300px;
}
body #aboutsection article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 4%;
}
body #aboutsection article p {
  max-width: 30rem;
}
body #ourservices {
  padding: 3rem;
}
body #ourservices .fa-solid {
  font-size: 2rem;
  color: #000000;
}
body #ourservices h2 {
  text-align: center;
  min-width: 100%;
}
body #ourservices div {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body #ourservices div .service p {
  max-width: 15rem;
}
body #emailsignup {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
body #emailsignup p {
  font-size: 1.87rem;
  font-weight: 600;
}
body input, body textarea {
  border: none;
  padding: 0.7rem 1rem;
}
body #explorecontainer {
  padding: 3%;
}
body #explorecontainer .yellowline {
  padding: 0.5rem;
}
body #explorecontainer #explore nav {
  padding: 1rem;
}
body #explorecontainer #explore nav ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
body .products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
body .products .yellowline {
  min-width: 100%;
}
body .products article {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  max-width: 692px;
}
body #clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}
body #clients h2 {
  min-width: 100%;
  text-align: center;
  font-size: 2rem;
}
body a {
  color: #000000;
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body nav ul li {
  list-style: none;
}
body h2 {
  font-size: 1.5rem;
}
body footer {
  background-color: #252525;
  color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 1rem;
}
body footer p {
  font-weight: 300;
}
body footer nav {
  gap: 1rem;
  display: flex;
}
body footer nav .fa-brands {
  font-size: 2.5rem;
  color: #fff;
}

/*Mobil*/
@media only screen and (max-width: 699px) {
  #gridcontainer {
    grid-template-columns: auto;
  }
  .hovedlogo {
    padding: 2rem 0 1rem;
    justify-content: center;
  }
  header {
    flex-direction: column;
  }
  header nav {
    padding: 0 0 1rem;
  }
  header nav ul {
    flex-direction: column;
    padding: 0;
  }
  .textoverimg .textcontainer {
    top: 50px;
    padding: 1rem;
  }
  .textoverimg #abouttext {
    margin: 10%;
  }
  #aboutsection article {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #explorecontainer .yellowline {
    font-size: 1.5rem;
  }
  aside {
    grid-column: 1/2;
  }
  footer {
    justify-content: center;
  }
}
/*Desktop*/
@media only screen and (min-width: 700px) {
  #gridcontainer {
    grid-template-columns: auto auto auto;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    grid-column: 1/4;
  }
  main {
    grid-column: 1/4;
  }
  .textoverimg #abouttext {
    max-width: 50%;
    margin: 5%;
  }
  #aboutsection article {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 5rem;
    margin: 1rem;
  }
  .products .yellowline {
    font-size: 2rem;
  }
  aside {
    grid-column: 1/4;
  }
  footer {
    grid-column: 1/4;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */