/*lys grå: #F7F7F7*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

#gridcontainer{
    display:grid;
    max-width: 1600px;
}

body{
    font-family: 'Roboto', sans-serif;
    
    /*Farger*/
    .yellow{
        background-color: #e6bd43;
    }
    .grey{
        background-color: #f3f0f1;
    }
    .white{
        background-color: #fff;
    }
    .transparent{
        opacity: 0.7;
    }
    .thickoutline{
        border-style: solid;
        border-color: #000000;
        border-width: 2px;
        padding: 0.5rem 1rem;
    }


    .hovedlogo {
        display: flex;
        img{
            max-width: 100px;
        }
      }

      /*Header*/
    header{
        display:flex;
        flex-wrap:wrap;

        nav{
            ul{
                display: flex;
                justify-content: center;
                flex-wrap:wrap;
                gap: 1.2rem;
                text-align: center;

                li{
                    font-weight: 200;
                }

                .yellow{
                    padding: 0.7rem 1rem;
                    font-weight: 600;
                }
            }
        }
    }
    .yellowline {
        border-width: 2px;
        border-style: none none solid none;
        border-color: #e6bd43;
        font-weight: 600;
    }

    /*Main*/
    .textoverimg{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
      article {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 100%;
    }
    h1{
        font-size: 3em;
    }
    picture{
        min-width: 100%;
    }
    img{
        min-height: 480px;
        min-width: 100%;
        max-height: 600px;
        object-fit: cover;
    }

    #textcontainer {
        p{
            margin:0;
        }
            position: absolute;
            padding: 10%;
            gap: 3rem;
            display: flex;
            flex-direction: column;
     }
     #abouttext{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        text-align: start;
        background: rgba(255, 255, 255, 0.6);
        padding: 2rem;
     }
     #centertext{
            position: absolute;
       }
    .yellow{
        padding: 1rem;
    }
     }

    #subheading{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 3rem;
        article{
            max-width:80%;
        }
    }

    #aboutsection{
        padding: 1rem;
        img{
            max-width: 300px;
        }
        article{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2% 4%;
            p{
                max-width: 30rem;
            }
        }
    }

    #ourservices{
        padding: 3rem;
        .fa-solid{
            font-size: 2rem;
            color:#000000;
        }
        h2{
            text-align:center;
            min-width: 100%;
        }

        div{
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            section{
                p{
                    max-width: 15rem;
                }
            }
        }
    }

    #emailsignup {
        display: flex;
        justify-content: center;
        padding: 3rem;
        p{
            font-size: 1.87rem;
            font-weight: 600;
        }
    }
    input , textarea{
        border: none;
        padding: 0.7rem 1rem;
    }

    #explorecontainer {
        .yellowline{
            padding: 0.5rem;
        }
        padding: 3%;
        #explore{
            nav{
                padding: 1rem;
                ul{
                    display: flex;
                    gap: 2rem;
                    flex-wrap:wrap;
                }
            }
        }
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        .yellowline{
            min-width: 100%;
        }
        article {
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            max-width: 692px;
        }
    }

    #clients{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        padding: 3rem;
        h2{
            min-width: 100%;
            text-align:center;
            font-size:2rem;
        }
    }

    #contactus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        h2{
            min-width: 100%;
            text-align: center;
            font-size: 2rem;
        }
        p{
            font-weight: 200;
        }
        #contactinfo{
            max-width: 30rem;
            padding: 2rem;
            p{
                padding: 0.5rem;
            }
            .fa-solid{
                font-size: 1.5rem;
                color:#252525;
                padding: 0 0.3rem;
            }
        }
        .yellow{
           
        }
    }

    iframe{
        width: 100%;
        max-height: 20rem;
    }

    a{
        color:#000000;
        text-decoration: none;
    }
    img{
        max-width: 100%;
        height: auto;

    }
    nav{
        ul{
            li{
                list-style: none;
            }
        }
    }
    h2{
        font-size: 1.5rem;
    }

    /*footer*/
    footer{
        background-color: #252525;
        color: #fff;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 3rem 1rem;
        p{
            font-weight: 300;
        }
        nav{
            gap: 1rem;
            display: flex;
            .fa-brands{
                font-size: 2.5rem;
                color:#fff;
            }
        }
    }
}


/*Mobil*/
@media only screen and (max-width: 699px){
    #gridcontainer{
        grid-template-columns: auto;
    }
    .hovedlogo{
        padding: 2rem 0 1rem;
        justify-content: center;
    }
    header{
        flex-direction: column;
        nav{
            padding: 0 0 1rem;
            ul{
                flex-direction:column;
                padding:0;
            }
        }
    }


    .textoverimg{
        .textcontainer{
            top: 50px;
            padding: 1rem;
        }
        #abouttext{
            margin: 10%;

        }
    }

    #aboutsection{
        article{
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    #abouttext{
        h1{
            margin: 0;
        }
    }

    #explorecontainer{
        .yellowline{
            font-size: 1.5rem;
        }
    }

    aside{
        grid-column: 1/2;

        form{
            padding: 0 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 90%;
            input{
                padding: 0.7rem 20%;
            }
            #sendmessage{
                padding: 1rem;
            }
            textarea{
                padding: 2rem 20%;
            }
        }
        #contactinfo{
           min-width: 100%; 
        }

    }
    
    footer{
        justify-content: center;
    }
}

/*Desktop*/
@media only screen and (min-width: 700px){
    #gridcontainer{
        grid-template-columns: auto auto auto;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding: 1rem;
        grid-column: 1 / 4;
    }
    main{
        grid-column: 1 / 4;
    }
    .textoverimg{
         #abouttext{
            max-width: 50%;
            margin: 5%;
        }
    }

    #aboutsection{
        article{
            flex-wrap: nowrap;
            justify-content: space-between;
            gap: 5rem;
            margin: 1rem;
        }
    }
    .products{
        .yellowline{
            font-size: 2rem;
        }
    }

    aside{
        grid-column: 1/4;

        #contactus{
            form{
                padding: 0 11rem 1rem 0;
                input{
                    padding: 0.7rem 50%;
                }
            }
        }

        form{
            #sendmessage{
                padding: 1rem;
            }
            textarea{
                padding: 2rem 50%;
            }
        }
    }

    footer{
        grid-column: 1/4;
        justify-content: space-between;
    }
}