/*lys grå: #F7F7F7*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

#gridcontainer{
    display:grid;
    max-width: 1600px;
}

body{
    font-family: 'Roboto', sans-serif;
    
    /*Farger*/
    .yellow{
        background-color: #e6bd43;
    }
    .grey{
        background-color: #F7F7F7
    }
    .transparent{
        opacity: 0.7;
    }
    .thickoutline{
        border-style: solid;
        border-color: #000000;
        border-width: 3px;
        padding: 0.5rem 1rem;
    }

    .hovedlogo {
        display: flex;
        img{
            max-width: 100px;
        }
      }

      /*Header*/
    header{
        background-color: #fff;
        display:flex;
        flex-wrap:wrap;

        nav{
            ul{
                display: flex;
                justify-content: center;
                flex-wrap:wrap;
                gap: 1.2rem;
                text-align: center;

                .yellow{
                    padding: 0.7rem 1rem;
                    font-weight: 600;
                }
            }
        }
    }

    /*Main*/
    .textoverimg{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        text-align: center;
      article {
        display:flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 100%;
    }
    h1{
        font-size: 3em;
    }
    picture{
        min-width: 100%;
    }
    img{
        min-height: 480px;
        min-width: 100%;
        object-fit: cover;
    }

    #textcontainer {
        p{
            margin:0;
        }
            position: absolute;
            padding: 10%;
            gap: 3rem;
            display: flex;
            flex-direction: column;
     }
     #abouttext{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        text-align: start;
        background-color: #fff;
        padding: 2rem;
     }
     #centertext{
            position: absolute;
       }
    .yellow{
        padding: 1rem;
    }
     }

    #subheading{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 3rem;
        article{
            max-width:80%;
        }
    }

    #aboutsection{
        padding: 1rem;
        img{
            max-width: 300px;
        }
        article{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2% 4%;
            p{
                max-width: 30rem;
            }
        }
    }

    #ourservices{
        padding: 3rem;
        h2{
            text-align:center;
        }
        div{
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .service{
                p{
                    max-width: 15rem;
                }
            }
        }
    }


    a{
        color:#000000;
        text-decoration: none;
    }
    img{
        max-width: 100%;
        height: auto;

    }
    nav{
        ul{
            li{
                list-style: none;
            }
        }
    }

    aside{

    }

    /*footer*/
    footer{
        background-color: #252525;
        color: #fff;
        .fa-brands{
            color:#fff;
        }
    }

}

/*Mobil*/
@media only screen and (max-width: 699px){
    #gridcontainer{
        grid-template-columns: auto;
    }
    header{
        flex-direction: column;
        .hovedlogo{
            padding: 2rem 0 1rem;
            justify-content: center;
        }
        nav{
            padding: 0 0 1rem;
            ul{
                flex-direction:column;
                padding:0;
            }
        }
    }


    .textoverimg{
        .textcontainer{
            top: 50px;
            padding: 1rem;
        }
        #abouttext{
            margin: 10%;

        }
        #centertext{

        }
    }

    #aboutsection{
        article{
            flex-direction: column;
            flex-wrap: wrap;
        }
    }

    aside{
        grid-column: 1/2;
    }
}

/*Desktop*/
@media only screen and (min-width: 700px){
    #gridcontainer{
        grid-template-columns: auto auto auto;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding: 1rem;
        grid-column: 1 / 4;
    }
    main{
        grid-column: 1 / 4;
    }
    .textoverimg{
         #abouttext{
            max-width: 50%;
            margin: 5%;
        }
        #centertext{

        }
    }

    #aboutsection{
        article{
            flex-wrap: nowrap;
            justify-content: space-between;
            gap: 5rem;
            margin: 1rem;
        }
    }
    aside{
        grid-column: 1/4;
    }

    footer{
        grid-column: 1/4;
    }
}